body {
  color: rgb(226, 184, 120);
  background: rgb(231, 97, 79);
}
.heading {
  width: 80%;
  font-size: 22px;
}
#camera {
  border: 2px dashed black;
  width: 350px;
  height: 300px;
}
.name_of_objects,
#result_object_name,
#result_object_accuracy {
  color: rgb(170, 98, 230);
}
